body {
    font-family: Arial, sans-serif;
    background-color: #ace7f4;
    text-align: center;
    color: #56027b;
}
#title{
    font-size: 40px;
}
#options{
    display: flex;
    justify-content: center;
    align-items: space-between;
    position: relative;
    top: 20px;
}
figcaption{
    width: 200px;
    padding: 20px;
    font-weight:bold;
    font-size: 30px;
}
.balloon{
    position: relative;
    top: 20px;
}

#displayfriends{
    width: 400px;
    height: 400px;
    border: 3px black solid;
    background-color: white;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: center;
}

.friend{
    color: #56027b;
}
#displayONEfriend{
    width: 250px;
    height: 250px;
    border: 3px black solid;
    background-color: white;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}