body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ace7f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.container-form {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="submit"],
input[type="user_name"]{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #118ab2;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #118a92;
}
.switch {
    text-align: center;
}
.switch a {
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
}

h1{
    position:relative;
    top:-45%;
    left:-30%;
}

.balloons{
    animation: moveDown 5s linear infinite;
    margin-bottom: 30%;
}

@keyframes moveDown {
    0% { bottom: 30%; transform: translateY(0); }
    50% { transform: translateY(50%); } 
    100% { bottom: -350%; transform: translateY(0); }
}

.balloon1, .balloon2{
    width: 120px;
    padding: 20px;
}
.balloon2{
    margin: 25px;
}




